<!DOCTYPE html>
<head>
    <title>sorry sorry sorry soryy sorry sopruyry sorryy sopryyy soryyys oryyy sorry soryyys oryyys soryys o...</title>
    {% if dev_template %}
        <link href="/static/less/fail.less" type="text/css" rel="stylesheet/less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
    {% else %}        
        <link href="/static/dist/fail-min.css" type="text/css" rel="stylesheet">
    {% endif %}
</head>

<body>
    <div id="fail-sky"</div>
    <div id="fail-pic-container">
        <img id="fail-pic" src="/static/assets/fail-tears.png"></img>
    </div>

    <div id="fail-message-container">
        <p class="text">
            {% if type == 'webgl' %}
                Oh hey, you're almost there, I think?<br>
                But... you need to enable WebGL!
                <a href="https://get.webgl.org/" target="_blank">For more information...</a>
            {% elif type == 'audio-fatal' %}
                Oh dear... there seems to be a problem with your audio.<br>
                Yes indeed, it's all you. Check your system settings and drivers.<br>
                That's all I can tell you, unfortunately.
            {% else %}
                Oh no! We don't support your browser!<br>
                Try upgrading to the latest version of 
                <a href="https://www.google.com/chrome/browser/desktop/" target="_blank">Chrome/Chromium</a>
                or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a>.
            {% endif %}
        </p>
    </div>
    <div id="tech-info" class="text">...more info, for those that want it: your browser needs to support
        WebGL, WebWorkers, the Web Audio API, and .ogg or .mp3 playback.
    </div>
</body>
</html>
