<!DOCTYPE html>
<html>
<head>
    <title>WC Tank</title>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/map_assets/styles.less" type="text/css" rel="stylesheet/less">

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBYz-Rg_pR_L56O4h2k8Nr31VidEjtfAQ&sensor=false&libraries=weather"></script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
</head>

<body>
	<div id="map-canvas"></div>
	<div id="overlay"></div>

	<ul id="social-links">
		<li><a href="http://wctank.tumblr.com" target="_blank"><i class="fa fa-tumblr-square"></i></a><li>
		<li><a href="http://twitter.com/wctank" target="_blank"><i class="fa fa-twitter"></i></a><li>
		<li><a href="http://soundcloud.com/wctank-1" target="_blank"><i class="fa fa-soundcloud"></i></a><li>
		<li><a href="http://wctank.bandcamp.com" target="_blank"><i class="fa fa-music"></i></a><li>
	</ul>

	<script type="text/html" id="post-template">
    	<button class="close-post" type="button"><i class="fa fa-times-circle"></i></button>
    	<div class="~!type">~!content</div>
    	<div class="permalink"><a href="~!link" target="_blank"><p>view on tumblr</p></a></div>
	</script>

	<script type="text/javascript">
    
    (function() {
        
        WebFont.load({
        	custom: {
        		families: [
        			'timeless',
        			'timelessbold',
        			'frutigerlight',
        			'timelessitalic',
        			'frutigerlightitalic',
        			'frutigerbold'
        		]
        	}
        });
        
        var div = {
        	$overlay: $('#overlay'),
        	$map: $('#map-canvas'),
        };
        
        // for some reason, firefox is not playing nice with svg filters in external
        // files, so I guess I'm just going to dynamically inline it then
        $.get("static/map_assets/map_filters.xml", function(data) {
        	var cont = document.createElement("svg_filters");
       		cont.style.position = "fixed";
       		cont.style.bottom = 0;
       		cont.style.zIndex = -99999999;
       		document.body.appendChild(cont);
        	cont.innerHTML = new XMLSerializer().serializeToString(data);
        	
        	var mres = window.matchMedia("only screen and (min-resolution: 1.2dppx)");
       		if (mres.matches) {
       			var feGaussianBlur = document.getElementById("feGaussianBlur");
       			var feBlend = document.getElementById("feBlend");
       			feGaussianBlur.setAttribute("stdDeviation", "1");
       			feBlend.setAttribute("in2", "flip");
       		}
        });
        
        var loader;
        $.get("static/map_assets/loading_cur.svg", function(data) {
        	loader = new XMLSerializer().serializeToString(data);
        });
        
        var renderPost = function(post, $template) {
            var content = '';
           
            if(typeof post.title !== 'undefined') {
                if(post.type === "link") {
                	content += "<div class='post-title'>"+
                		"<a target='_blank' href='"+post.url+"'>"+post.title+"</a></div>";
                } else {
                	content += "<div class='post-title'>"+post.title+"</div>";
            	}
            }

            if(typeof post.body !== 'undefined') {
                content += "<div class='post-body'>"+post.body+"</div>";
            }

            if(typeof post.photos !== 'undefined') {
                content += '<img src="' + post.photos[0].alt_sizes[0].url + '"/>';
            }

            if(typeof post.text !== 'undefined') {
                content += "<div class='post-text'>"+post.text+"</div>";
            }

            if(typeof post.player !== 'undefined') {
                content += post.player[0].embed_code;
            }
            
            if(typeof post.description !== 'undefined') {
            	content += "<div class='post-description'>"+post.description+"</div>";
            }
            
			if(typeof post.caption !== 'undefined') {
                content += "<div class='post-caption'>"+post.caption+"</div>";
            }
            
            if(typeof post.source !== 'undefined') {
                content += post.source;
            }
  		
            var post_data = {
                'type': post.type,
                'date': post.date,
                'link': post.short_url,
                'content': content
            };

            console.log(post);
            console.log(post_data);

            var template = $template.html();
            $.each(post_data, function(i, v) {
                var rg = "~!" + i;
                var r = new RegExp(rg, "g");
                template = template.replace(r, v);
            });
            
            return template;
        };
        
        var marker_clicked = false;
				
        var init = function() {
            var map = new google.maps.Map(document.getElementById("map-canvas"), {
                center: new google.maps.LatLng(43.1, -87.107180),
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.SATELLITE,
                disableDefaultUI: true,
                zoomControl: false
            });

            var bounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(42.96, -87.3159),
                new google.maps.LatLng(43.25, -86.9059)
            );

            overlay = new google.maps.GroundOverlay(
                'static/map_assets/virgo-logo.png',
                bounds
            );

            var clouds = new google.maps.weather.CloudLayer();
            clouds.setMap(map);

            overlay.setMap(map);

            google.maps.event.addListener(overlay, 'click', function() {
                map.setZoom(9);
            });
			
            google.maps.event.addListener(map, 'idle', function() {
                var visibleBounds = map.getBounds();
                var sw = visibleBounds.getSouthWest();
                var ne = visibleBounds.getNorthEast();

                var url = '/' + sw.lat() + '/' + sw.lng() + '/' + ne.lat() + '/' + ne.lng();
                $.getJSON(url, function(data) {
                    var m;
                  
                    $.each(data, function(i, post) {
                        var loc = new google.maps.LatLng(post.lat, post.long);
                        var markerOptions = {
                            position: loc,
                            map: map
                        };
                        
                        post.isTextPost = (function() {
                        	var text_posts = ['text', 'audio', 'link', 'quote'];
                        	if (text_posts.indexOf(post.type) !== -1) {
                        		return true;
                        	}
                        	return false; 
                        }());
						
                        if($.inArray('videos', post.tags) !== -1) {
                            markerOptions.icon = 'static/map_assets/colorbars.png';
                        } else if ($.inArray('stumblesome', post.tags) !== -1) {
                            markerOptions.icon = 'static/map_assets/ear.png';
                        } else {
                            markerOptions.icon = 'static/map_assets/catalan_compass_rose.png';
                        }

                        m = new google.maps.Marker(markerOptions);

                        google.maps.event.addListener(m, 'click', function() {onMarkerClick(post);});
                        
                    });
                });
            });
        };
     	
     	function onMarkerClick(post) {
     		
     		console.log(post.lat, post.long);
     		
     		 var trivial = 130; //mini fade for content swap
     		 
     		 var width = div.$overlay.css("width");
     		 div.$overlay.find("*").fadeOut(trivial).remove();
     		 
     		 var $post = renderPost(post, $('#post-template'));
     		 div.$overlay.html($post).removeClass().addClass(post.type);
     		 
     		 var mm = window.matchMedia("screen and (max-width: 31em)");
     		 
     		 if ( div.$overlay.is(':hidden') ) {
     		 	div.$overlay.fadeIn('fast');
     		 	if (mm.matches) {
     		 		width = 'auto'; //will fill screen when @small
     		 	} else {
     		 		width = div.$overlay.css('min-width');
     		 	}
     		 }
     		 
     		 var $contents = div.$overlay.find("*");
     		 var waiting = true;
     		 var $loading;
     		 
     		 // TODO: pure text posts break this... need to replace .find with a
     		 // function that will *also* traverse the DOM and get text nodes
     		 if ( !post.isTextPost ) {
     		 	
     		 	div.$overlay.css("width", width);
     		 	$contents.hide();
     		 	
     		 	window.setTimeout(function() {
     		 		if (waiting) {
     		 			$loading = div.$overlay.append(loader).find("#loading");
     		 		}
     		 	}, 300);
     		 	
     		 	$contents.load(function() {
     		 		if ($loading) {
     		 			$loading.fadeOut(trivial).remove(); 
     		 		}
     		 		div.$overlay.css("width", "auto");
     		 		$contents.fadeIn(trivial);
     		 		waiting = false;
     		 	});
     		 	
     		 } else {
     		 	$contents.fadeIn(trivial); // for now, just fade in if text
     		 }
     		 
     		 marker_clicked = true;
     		 window.setTimeout(function() {
     		 	marker_clicked = false;
     		 }, 200);
     	}
     	
        //These do not stop audio/video playback
        $(document).on('click', '.close-post', function(e) {
            e.preventDefault();
            $(this).parent().fadeOut('fast');
        });
        
        div.$map.mousedown(function() {
        	window.setTimeout(function() {
        		if ( div.$overlay.is(':visible') && (div.$overlay.css('opacity') === '1') 
        			&& (marker_clicked === false) ) {
        			div.$overlay.fadeOut('fast'); 
        		}
        	}, 150);
        });
		
        google.maps.event.addDomListener(window, 'load', init);
   
     }());
     
   	</script>
   	
</body>
</html>