<!DOCTYPE html>
<html>
<head>
    <title>WC Tank</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/styles.less" type="text/css" rel="stylesheet/less">

    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.3/less.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBYz-Rg_pR_L56O4h2k8Nr31VidEjtfAQ&sensor=false&libraries=weather"></script>
</head>

<body>
	<div id="map-canvas"></div>
	<div id="overlay"></div>
	<ul id="social-links">
    	<li><a href="http://wctank.tumblr.com" target="_blank"><i class="fa fa-tumblr-square"></i></a><li>
   		<li><a href="http://twitter.com/wctank" target="_blank"><i class="fa fa-twitter"></i></a><li>
    	<li><a href="https://www.facebook.com/pages/WC-TANK/326570787479712" target="_blank"><i class="fa fa-facebook-square"></i></a><li>
    	<li><a href="http://soundcloud.com/wctank-1" target="_blank"><i class="fa fa-soundcloud"></i></a><li>
    	<li><a href="http://wctank.bandcamp.com" target="_blank"><i class="fa fa-music"></i></a><li>
	</ul>

	<script type="text/html" id="post-template">
    	<button class="close-post" type="button"><i class="fa fa-times-circle"></i></button>
    	<div class="~!type">~!content</div>
    	<a class="permalink" href="~!link" target="_blank"><p>view on tumblr</p></a>
	</script>

	<script type="text/javascript">
        
        $(document).on('click', '.close-post', function(e) {
            e.preventDefault();
            $(this).parent().fadeOut('fast');
        });
        
        var div = {
        	$overlay: $('#overlay'),
        	$map: $('#map-canvas')
        };

        var renderPost = function(post, $template) {
            var content = '';
           
            if(typeof post.title !== 'undefined') {
                content += '<h3>'+post.title+'</h3>';
            }

            if(typeof post.body !== 'undefined') {
                content += post.body;
            }

            if(typeof post.caption !== 'undefined') {
                content += post.caption;
            }

            if(typeof post.photos !== 'undefined') {
                content += '<img src="' + post.photos[0].alt_sizes[0].url + '"/>';
            }

            if(typeof post.text !== 'undefined') {
                content += post.text;
            }

            if(typeof post.player !== 'undefined') {
                content += post.player[0].embed_code;
            }

            if(typeof post.source !== 'undefined') {
                content += post.source;
            }

            var post_data = {
                'type': post.type,
                'date': post.date,
                'link': post.short_url,
                'content': content
            };

            console.log(post);
            console.log(post_data);

            var template = $template.html();
            $.each(post_data, function(i, v) {
                var rg = "~!" + i;
                var r = new RegExp(rg, "g");
                template = template.replace(r, v);
            });
            
            return template;
        };
        
		var marker_clicked = false;
				
        var init = function() {
            var map = new google.maps.Map(document.getElementById("map-canvas"), {
                center: new google.maps.LatLng(43.1, -87.107180),
                zoom: 11,
                mapTypeId: google.maps.MapTypeId.SATELLITE,
                disableDefaultUI: true,
                zoomControl: true
            });

            var bounds = new google.maps.LatLngBounds(
                new google.maps.LatLng(42.96, -87.3159),
                new google.maps.LatLng(43.25, -86.9059)
            );

            overlay = new google.maps.GroundOverlay(
                'static/virgo-logo.png',
                bounds
            );

            var clouds = new google.maps.weather.CloudLayer();
            clouds.setMap(map);

            overlay.setMap(map);

            google.maps.event.addListener(overlay, 'click', function() {
                map.setZoom(9);
            });
			
            google.maps.event.addListener(map, 'idle', function() {
                var visibleBounds = map.getBounds();
                var sw = visibleBounds.getSouthWest();
                var ne = visibleBounds.getNorthEast();

                var url = '/' + sw.lat() + '/' + sw.lng() + '/' + ne.lat() + '/' + ne.lng();
                $.getJSON(url, function(data) {
                    var m;
                    $.each(data, function(i, post) {
                        var loc = new google.maps.LatLng(post.lat, post.long);
                        var markerOptions = {
                            position: loc,
                            map: map
                        };

                        if($.inArray('videos', post.tags) !== -1) {
                            markerOptions.icon = 'static/colorbars.png';
                        } else if ($.inArray('stumblesome', post.tags) !== -1) {
                            markerOptions.icon = 'static/ear.png';
                        } else {
                            markerOptions.icon = 'static/catalan_compass_rose.png';
                        }

                        m = new google.maps.Marker(markerOptions);

                        google.maps.event.addListener(m, 'click', function() {
                            marker_clicked = true;
                            if ( div.$overlay.is(':hidden') ) {
                            	var $post = renderPost(post, $('#post-template'));
                           		div.$overlay.html($post).removeClass().addClass(post.type);
                            	div.$overlay.fadeIn('fast');
                            } else {
                            	var $post = renderPost(post, $('#post-template'));
                           		div.$overlay.html($post).removeClass().addClass(post.type);
                            }
                            window.setTimeout(function() {
                            	marker_clicked = false;
                            }, 200);
                        });
                    });
                });

            });
        };
		
		div.$map.mousedown(function() {
        	window.setTimeout(function() {
        		if ( div.$overlay.is(':visible') && (div.$overlay.css('opacity') === '1') 
        			&& (marker_clicked === false) ) {
        			div.$overlay.fadeOut('fast');
        		}
        	}, 150);
        });
		
        google.maps.event.addDomListener(window, 'load', init);
        
   	</script>
</body>
</html>
