<DOCTYPE! html>
<html>
<head>
    <title>WC Tank</title>

    <style type="text/css">
        body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
        canvas {
        	display: block;
        }
    </style>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBYz-Rg_pR_L56O4h2k8Nr31VidEjtfAQ&sensor=false"></script>
    
    <script src="/static/lib/GSVPano.js"></script>
    <script src="/static/lib/GSVPanoDepth.js"></script>
    <script src="/static/lib/zpipe.min.js"></script>
    <script src="/static/lib/jquery.base64.min.js"></script>
    <script src="/static/lib/three.min.js"></script>
    <script src="/static/lib/jsfeat.js"></script>
    
    <script src="/static/js/U_project.js"></script>
    <script src="/static/js/UmasterAnimate.js"></script>
    <script src="/static/js/U_imageOps.js"></script>
    <script src="/static/js/U_endian.js"></script>
    <script src="/static/js/U_omnibus.js"></script>
    <script src="/static/js/U.js"></script>
    <script src="/static/js/U_shaders.js"></script>
    <script src="/static/js/U_unitBuilder.js"></script>
    <script src="/static/js/U_worldBuilder.js"></script>
    <script src="/static/js/main.js"></script>
</head>

<body>
</body>
</html>
