@font_path: "../fonts/";

@large: ~"screen and (min-width: 1428px)";
@medium: ~"screen and (max-width: 1000px) and (min-width: 540px)";
@small: ~"screen and (max-width: 539px)";

@off_white: #FCFCFC; //for text in overlay
@salmon_blood: #eb054c; //ui icon hover

.prefixed-transform(@arg) {
    -moz-transform: @arg;
    -ms-transform: @arg;
    -o-transform: @arg;
    -webkit-transform: @arg;
    transform: @arg;
}
.prefixed-animation(@arg) {
    -moz-animation: @arg;
    -ms-animation: @arg;
    -o-animation: @arg;
    -webkit-animation: @arg;
    animation: @arg;
}
.prefixed-transition(@arg) {
    -moz-transition: @arg;
    -ms-transition: @arg;
    -o-transition: @arg;
    -webkit-transition: @arg;
    transition: @arg;
}

/*
 * tags
 */
body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 12pt;
    //background-color: rgb(200, 80, 30);
}

button {
    background: none;
    border: none;
}

/*
 * major divs
 */

#map-canvas {
    width: 100%;
    height: 100%;
    //-webkit-mix-blend-mode: screen;
    //mix-blend-mode: screen;
}

#overlay {
    display: none;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: auto;
    max-width: 42%;
    z-index: 1000;
    
    background-color: rgba(0, 0, 0, 0.4);
    color: @off_white;
    font-family: 'timeless';
    font-size: 1.0532em;
    padding: 30px;
    
    //.prefixed-transition(width 500ms ease-in-out, height 500ms ease-in-out;);
    
    a {
        color: @off_white;
    }
    em {
        font-family: 'timelessitalic';
    }
    img {
        width: 100%;
        height: auto;
        min-width: 300px;
        min-height: 233px;
    }
    iframe { 
        width: 40vw;
        height: 30vw;
        min-width: 410px;
        min-height: 308px;
        max-width: 570px;
        max-height: 428px;
    }

    @media @large {
        max-width: 35.4em; //text become difficult to read when lines are longer
    }
    @media @medium {
        max-width: 42%;
        min-width: 410px;
        iframe {
            min-width: 410px;
            min-height: 308px;
        }
        img {
            max-width: 533px;
        }
    }
    @media @small {
        min-width: 90vw;
        padding-top: 60px;
        iframe {
            width: 100%;
            height: auto;
            min-width: 300px;
            min-height: 233px;
       }
    } 
}

/*
 * specific inner post divs
 */
.post-title {
    font-family: 'timelessbold';
    font-size: 1.1em;
}
.post-body { // body of a text post, usually poetry
    margin: 1.8em 0 2.1em 0.5em;
    font-family: 'timeless';
    line-height: 1.25em;
    p {
        margin-top: -0.65em;
    }
    br {
        line-height: 1.3em;
    }
    
}
.post-caption {
    font-family: 'frutigerlight';
    font-size: 0.95em;
    line-height: 1.24em;
    margin-top: -0.20328em;
    margin-bottom: 1.8em;
    p {
        margin-bottom: -0.554em;
    }
    em {
        font-family: 'frutigerlightitalic';
    }
}
.post-description { //
    .post-body;  
    line-height: 1.3em;
}
.permalink {
    margin-top: 2em;
    text-align: right;
}

/*
 * UI buttons
 */
.ui-controls() {
    color: #fff;
    font-size: 20px;
    display: inline-block;
    padding: 6px;
    margin: 0 1px;
    outline: none;
    
    &:hover {
      color: @salmon_blood;
    }
}

.close-post {
    position: absolute;
    top: 5px;
    right: 5px;
    .ui-controls;
    padding: 0px;
}

#social-links {
    position: fixed;
    top: 1px;
    left: 50px;

    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;

        a {
            .ui-controls;
        }
    }
}

/*
 * SVG loading placeholder
 */
#loading {
    display: block;
    //width: 100%;
    width: 300px;
    margin: auto;
    height: 100%;
    fill: none;
    stroke: @off_white;
    stroke-width: 3;
    stroke-dasharray: 3200;
    .prefixed-animation(dash 3500ms infinite linear);
}
.svg_loader_frames() {
    from { stroke-dashoffset: 3200; }
    to { stroke-dashoffset: -3200; }
}
@-moz-keyframes dash { .svg_loader_frames; }
@-o-keyframes dash { .svg_loader_frames; }
@-ms-keyframes dash { .svg_loader_frames; }
@-webkit-keyframes dash { .svg_loader_frames; }
@keyframes dash { .svg_loader_frames; }

/*
 * fonts
 */
.fontSquirrel(@family, @name) {
    font-family: @family;
    src: url('@{font_path}@{name}.eot');
    src: url('@{font_path}@{name}.eot?#iefix') format('embedded-opentype'),
         url('@{font_path}@{name}.woff') format('woff'),
         url('@{font_path}@{name}.ttf') format('truetype'),
         url('@{font_path}@{name}.svg#timelesstligregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    .fontSquirrel('timeless', 'timelesstlig');
}
@font-face {
    .fontSquirrel('timelessbold', 'timelessef-bold-webfont');
}
@font-face {
    .fontSquirrel('timelessitalic', 'timelesstlig_italic-webfont');
}
@font-face {
    .fontSquirrel('frutigerlight', 'frutiger-light-webfont');
}
@font-face {
    .fontSquirrel('frutigerlightitalic', 'frutiger-lightitalic-webfont');
}
